<head>
    <title>UniRota</title>
    <link rel="stylesheet" href="~/css/register.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/reset.css"/>
</head>

<body>
    <form class="register">
        <div class="title">
            <h1>UniRota!!!</h1>
            <p>O seu site de caronas</p>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="input">
                    <label class="form-label">Email</label>
                    <input type="email" class="form-control" id="InputEmail1" aria-describedby="emailHelp">
                </div>

                <div class="input">
                    <label class="form-label">Senha</label>
                    <input type="password" class="form-control" id="InputPassword">
                </div>

                <div class="input">
                    <label class="form-label">Confirmar senha</label>
                    <input type="password" class="form-control" id="InputPasswordConfirm">
                </div>

                <div class="input">
                    <label class="form-label">Número de celular</label>
                    <input type="Text" class="form-control" id="InputCellPhone">
                </div>

                <div class="input">
                    <label class="form-label">CEP</label>
                    <input type="Text" class="form-control" id="InputCep">
                </div>
            </div>

            <div class="col-md-6">
                <div class="input">
                    <label class="form-label">Rua</label>
                    <input type="Text" class="form-control" id="InputEmail1">
                </div>

                <div class="input">
                    <label class="form-label">Número</label>
                    <input type="number" class="form-control" id="InputNumber">
                </div>

                <div class="input">
                    <label class="form-label">Cidade</label>
                    <input type="Text" class="form-control" id="InputCity">
                </div>

                <div class="input">
                    <label class="form-label">Complemento</label>
                    <input type="Text" class="form-control" id="InputComplement">
                </div>

                <div class="input">
                    <label class="form-label">Bairro</label>
                    <input type="Text" class="form-control" id="InputNeighborhood">
                </div>
            </div>
        </div>

        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="Check">
            <label class="form-check-label checkbox">Concordo com os termos de uso</label>
        </div>
        <a class="btn btn-primary btn-lg" href=@Url.Action("RegistrarUsuario", "Register")> Cadastrar</a>
        <a href="@Url.Action("Index", "Login")">Ja possui uma conta? Clique aqui para fazer login!</a>
    </form>
</body>